<div id="articles"></div>
<div class="text-center mt-5">
  <h4>Is the content feeling stale? <a href="#scrapeMore" id="scrapeMore">Scrape More</a></h4>
</div>
<script type="text/javascript">
  var page = "index"
</script>
